/* Place for user-specific div-s */

/* Figure aligned left */
.fig {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: auto;

  width: 100%;
  max-width: 40rem;
}

.fig img {
  width: 100%;
  padding: 0;
}

/* Figure centered */
.fig-centered {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: 40rem;

  text-align: center;
}

.fig-centered img {
  width: 100%;
  padding: 0;
}

/*******************************************************************/
/*		dual language page				   */
/*******************************************************************/
/* Nice to see the difference but delete it later
.multilang .lang-en {
  background: var(--seconadry-background-color);
  text-decoration: none;
}

.multilang .lang-pl {
  background: var(--accent-color);
  text-decoration: none;
}
*/

/* Hide the checkbox that we toggle with `.lang-toggle` */
.lang-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.lang-checkbox` */
.lang-toggle {
  position: fixed;
  bottom: 0.25rem;
  left: 0.25rem;
  display: block;
  width: 2.2rem;
  padding: 0.5rem 0.65rem;
  color: var(--contrast-text-color);
  background-color: var(--block-background);
  border-radius: 4px;
  cursor: pointer;
}

.lang-toggle::before {
  display: block;
  content: "pl";
  width: 100%;
  padding-bottom: 0.125rem;
}

@media (min-width: 30.1rem) {
  .lang-toggle {
    width: 2.25rem;
    bottom: 1rem;
    left: 1rem;
  }

  .lang-toggle::before {
    padding-bottom: 0.15rem;
    border-top-width: 0.45rem;
    border-bottom-width: 0.15rem;
  }
}

.lang-toggle {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.lang-toggle {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

#sidebar-checkbox:checked ~ .lang-toggle {
  -webkit-transform: translateX(var(--sidebar-width));
  -ms-transform: translateX(var(--sidebar-width));
  transform: translateX(var(--sidebar-width));
}
/* Style the `label` differently when the checkbox is checked */
#lang-checkbox:checked ~ .lang-toggle::before {
  content: "en";
}

/* Actual logic for language switching */
.wrap .lang-pl {
  display: none;
}

#lang-checkbox:checked ~ .wrap .lang-pl {
  display: block;
}

#lang-checkbox:checked ~ .wrap .lang-en {
  display: none;
}

.sidebar .lang-pl {
  display: none;
}

#lang-checkbox:checked ~ .sidebar .lang-pl {
  display: block;
}

#lang-checkbox:checked ~ .sidebar .lang-en {
  display: none;
}

/*******************************************************************/
/* 		Contact Sections 				   */
/*******************************************************************/
.content-section {
  background-color: var(--block-background);
  padding: 3% 1.3%;
  margin: 3% 1%;
  height: auto;
}

.content-section h1 {
  margin-top: 0;
}

.content-section h3 {
  font-weight: 1000;
  font-size: 20px;
}

.contact-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: auto;
}

.contact-block {
  text-align: center;
  font-size: 60%;
  overflow-wrap: break-word;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact-block:hover {
  transition: 0.2s;
  background-color: #808080;
}

.contact-block a {
  color: rgb(232, 230, 227);
}

.contact-block a:hover {
  text-decoration: none;
}

.contact-block img {
  margin: auto;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0px;
  width: 40%;
  height: 18px;
}

/* SVG icons */
.svg-icon {
  display: inline-block;
  width: 16.3px;
  height: 13.45px;
  overflow: hidden;
  margin: 0px;
}

.sidebar .svg-icon {
  margin-right: 0.2rem;
  margin-left: 0.1rem;
}

.banner img {
  width: 100%;
  padding: 0px;
  margin: 0.px;
}